In [1]:
from datetime import datetime, timedelta
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("../data/sample.csv")
df.Date = pd.to_datetime(df.Date)
df = df.set_index("Date")
df.head()

,AAPL,PETS,STMP,VZ,SO,T,FXY,FXB,FXF,VCLT
Date,,,,,,,,,,
2015-01-02,100.454300,11.998557,47.590000,37.040615,38.569351,25.446146,80.720001,150.610001,97.410004,75.279541
2015-01-05,97.624336,11.874348,46.590000,36.733002,38.405293,25.205732,81.309998,149.820007,96.910004,75.400810
2015-01-06,97.633545,11.799825,45.830002,37.103733,38.866219,25.243294,82.110001,148.809998,96.660004,76.200851
2015-01-07,99.002556,12.064802,46.970001,36.864300,39.295902,25.273773,81.660004,148.369995,96.139999,76.346336
2015-01-08,102.806480,12.039960,47.110001,37.654419,39.327145,25.525217,81.320000,148.130005,95.739998,75.724030

In [2]:
df.loc["2016-01-04"]

AAPL     98.446655
PETS     14.478662
STMP    107.320000
VZ       37.944790
SO       38.965347
T        27.287683
FXY      81.080002
FXB     144.080002
FXF      96.250000
VCLT     70.992462
Name: 2016-01-04 00:00:00, dtype: float64

In [3]:
df.loc["2016-01-08"]

AAPL     90.606438
PETS     14.772558
STMP    100.769997
VZ       37.540615
SO       38.625656
T        27.019161
FXY      82.470001
FXB     142.220001
FXF      97.040001
VCLT     71.668411
Name: 2016-01-08 00:00:00, dtype: float64

In [103]:
import numpy as np

starting_budget = 100000
weights = np.array([0.1] * 10)
stock_prices = df.loc["2016-01-04"]
transaction_fee = 0.2

In [104]:
def generate_portfolio(starting_budget, weights, stock_prices, transaction_fee):
    need_to_buy = starting_budget * weights // stock_prices
    transaction_price = np.sum(need_to_buy * stock_prices)
    transaction_commission = transaction_price * transaction_fee

    while transaction_price + transaction_commission > starting_budget:
        need_to_buy -= 1
        transaction_price = np.sum(need_to_buy * stock_prices)
        transaction_commission = transaction_price * transaction_fee

    holding_amount = need_to_buy
    remaining_budget = starting_budget - (transaction_price + transaction_commission)
    portfolio_value = np.sum(holding_amount * stock_prices)
    
    return remaining_budget, holding_amount, portfolio_value

In [105]:
remaining_budget, holding_amount, portfolio_value = generate_portfolio(starting_budget, weights, stock_prices, transaction_fee)
print(remaining_budget)
print(holding_amount)
print(portfolio_value)

237.2125136200193
AAPL     78.0
PETS    667.0
STMP     70.0
VZ      240.0
SO      233.0
T       343.0
FXY     100.0
FXB      46.0
FXF      80.0
VCLT    117.0
Name: 2016-01-04 00:00:00, dtype: float64
83135.65623864999

In [106]:
new_weights = np.array([0.1] * 10)
new_stock_prices = df.loc["2016-01-04"]
transaction_fee = 0.2

In [109]:
def rebalancing_portfolio(remaining_budget, holding_amount, rebalanced_weights, stock_prices, transaction_fee):
    total_capital = remaining_budget + np.sum(holding_amount * stock_prices)
    holding_amount_after_rebalancing = total_capital * rebalanced_weights // stock_prices
    need_to_rebalance = holding_amount_after_rebalancing - holding_amount
    
    transaction_price = np.sum(np.abs(need_to_rebalance) * stock_prices)
    transaction_commission = transaction_price * transaction_fee
    
    while total_capital < (transaction_price + transaction_commission):
        need_to_rebalance -= 1
        transaction_price = np.sum(need_to_rebalance * stock_prices)
        transaction_commission = transaction_price * transaction_fee
    
    holding_amount += need_to_rebalance
    remaining_budget = total_capital - np.sum(holding_amount * stock_prices) - (transaction_price + transaction_commission)
    portfolio_value = np.sum(holding_amount * stock_prices)
    
    return remaining_budget, holding_amount, portfolio_value

In [110]:
remaining_budget, holding_amount, portfolio_value = rebalancing_portfolio(remaining_budget, holding_amount, new_weights, new_stock_prices, transaction_fee)
remaining_budget, holding_amount, portfolio_value

(218.3745539480404,
 AAPL     84.0
 PETS    573.0
 STMP     77.0
 VZ      218.0
 SO      213.0
 T       304.0
 FXY     102.0
 FXB      57.0
 FXF      86.0
 VCLT    117.0
 Name: 2016-01-04 00:00:00, dtype: float64,
 82762.80993807998)